/* --------------------------
    FONT
----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* --------------------------
    GENRAL REUSABLE COMPONENTS
----------------------------- */

.heading-primary {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
  line-height: 1.3;
  margin-bottom: 16px;
}

.btn:link,
.btn:visited{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  display: inline-block;
}

.btn:hover{
  background-color: #ca2862;
}

.btn-large {
  border-radius: 100px;
}

/* --------------------------
    HEADER
----------------------------- */

.header {
  padding: 50px 120px 85px 120px;
}

.nav-lists {
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-item-list,
.nav-lists {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 34px;
}

.nav-link {
  font-size: 16px;
  color: #3a3a3a;
  text-decoration: none;
}

.nav-icon {
  font-size: 20px;
}


/* --------------------------
    HERO SECTION
----------------------------- */
.section-hero {
  /* background-color: chartreuse; */
}

.hero {
  /* height: 75vh; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 133px;
  padding: 0 120px 0 120px;
}

.hero__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-icon {
  color: #fff;
  font-weight: 600;
  margin-left: 5px;
}

.hero-description {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 28px;
}

.hero__img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__img-box::before,
.hero__img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__img-box::before {
  width: 75%;
  /* height: 75%; */
  padding-bottom: 75%;
  background-color: #f1f3f5;
  z-index: -2;
}

.hero__img-box::after {
  width: 110%;
  padding-bottom: 110%;
  border: 2px solid #f1f3f5;
  z-index: -1;
}

.hero__img {
  width: 440px;
  height: 414px;
}
